body {
    overflow:hidden;
}
.hud-left {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:100%;
    width:33%;
    border-right:5px solid black;
    align-items:center;
}
.menu {
    position:relative;
    border:5px solid black;
    display:flex;
    height:7%;
    justify-content:space-evenly;
    align-items:center;
}
.menuButton {
    height:100%;
    width:33%;
    position:relative;
    background-color:#d1c5b5;
    border:2px solid black;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    z-index:99;
}
#menu-settings {
    background-image:url(./images/wrench.png);
}
#menu-stats {
    background-image:url(./images/stats.png);
}
#menu-shop {
    background-image:url(./images/shop.png);
}
.shop-top {
    height:7%;
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    background-color:#7086ab;
    border:5px solid black;
    font-size:40px;
}

.shop {
    position:relative;
    background-color:rgb(0,0,0,0.2);
    border:5px solid black;
    overflow-y:auto;
}
.settings {
    display:flex;
    position:relative;
    background-color:rgb(0,0,0,0.2);
    border:5px solid black;
    overflow-y:auto;
}
#admin-console {
    width:100%;
    height:100%;
    z-index:1000;
}
.stats {
    display:none;
    position:relative;
    background-color:rgb(0,0,0,0.2);
    border:5px solid black;
    overflow-y:auto;
}
.hud-right {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:100%;
    width:33%;
    border-left:5px solid black;
    align-items:center;
    left:67%;
    overflow-y: auto;
}
.socials {
    display:flex;
    justify-content:space-evenly;
    height:7%;
    border:5px solid black;
    background-color:black;
}
.socials a {
    height:100%;
    width:24.75%;
    border:2px solid black;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
#discord {
    background-image: url(./images/discord-icon.png);
}
#reddit {
    background-image: url(./images/reddit-icon.png);
}
.upgrades-top {
    height:7%;
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    background-color:#7086ab;
    border:5px solid black;
    font-size:40px;
}
.upgrades {
    position:relative;
    background-color:white;
    border:5px solid black;
    overflow-y:auto;
    background-color:rgb(0,0,0,0.2);
}

#incomeMulti {
    position:relative;
    font-size:25px;
    top:20%;
    font:monospace;
    color:brown;
}
.footer {
    position:fixed;
    bottom:0px;
}
.shop button {
    background-color:teal;
    font-size:30px;
}
.shop p {
    font-size:30;
}

.item {
    position:relative;
    justify-content:center;
    padding-left:5px;
    padding-bottom:10px;
    height:10%;
    background-color:rgb(179, 255, 255);
    border-left:8px solid rgb(0, 179, 179);
    border-bottom:2px solid rgb(0, 128, 128);
    font-size:30px;
}
.item label {
    position:absolute;
    bottom:5px;
    left:5px;
    font-size:20px;
}
.hud-center {
    position:absolute;
    top:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:34%;
    left:33%;
    background-color:white;
    height:100%;
}
.hud-top {
    position:relative;
    height:20%;
    width:100%;
    top:5%;
    text-align:center;
    background-color:rgb(0,0,0,0.2);
}
h4 {
    color:#766D7A;
    text-align:center;
}
img{
    text-align:center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#money {
    position:relative;
    top:10%;
    font-size:60px;
    font:monospace;
    color:#88b04b;
}

.text {
    font-family:'Courier New', monospace;
}
#hud-main-button {
    top:7%;
    position:relative;
    display:block;
}
#main-button {
    display:block;
    position:relative;
    left: 10px;
    border-radius:60%;
    box-shadow: 0 9px #999;
    background-color:teal;
}

#main-button:active
{
    transform:translateY(4px);
    box-shadow: 0 5px #666;
}
button:hover {
    cursor:pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.hud-tooltips {
    position:absolute;
    width:25%;
    height:6.3%;
    display:none;
    align-items:center;
}
.hud-tooltips img {
    position:inline-block;
    height:85%;
    width:auto;
    vertical-align:middle;
    padding-right:5px;
}
#hud-tooltip {
    background-color:#006D5B;
    border:solid 5px black;
    padding:4px 4px 4px;
    color:#43a59a
}
.upgradeItem {
    display:none;
    position:relative;
    justify-content:center;
    padding-left:5px;
    padding-bottom:10px;
    height:10%;
    font-size:30px;
    background-color:rgb(230, 227, 18);
    border-left:8px solid rgb(118, 193, 32);
    border-bottom:2px solid rgb(183, 113, 8);
}
.click-score {
    position: absolute; 
    display: none;
    pointer-events: none;
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    animation: clickMove 3s;
    transition: transform ease-in;
    
}
@keyframes clickMove {
    from { opacity: 1; transform:translate(0px);}
    to { opacity: 0; transform:translate(var(--x-amount), var(--y-amount));}
}
:root {
    --x-amount:2px;
    --y-amount:2px;
}

.main {
    width:auto;
    height:auto;
    left:40px;
    right:40px;
    top:60px;
    bottom:60px;
    background-color:#908275;
    position:absolute;
    border:5px solid black;
}
.stats {
    color:white;
}


.individual-stat {
    color:black;
    background-color:#dab38b;
    margin:3px;
    font-family:'Courier New', monospace;
    font-size:30px;
    border:7px solid #744d25;
    padding:5px;
}    


#stats-div {
    background-color:rgb(0,0,0,0.2);
    font-size:30px;
    font-family:'Courier New', monospace;
}

